
header{
    background-color: #7469B6;
    flex-direction: row;
   
}

.navbar-collapse {
  flex-grow: 0!important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0; 
}

#nombre{
    font-family: bad script;
    font-weight: bolder;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 30px;
}

.container {
  overflow: auto;
  padding: 30px 50px 30px 50px;
  margin-bottom: 60px;
  box-shadow: var(--bs-box-shadow-lg);
  border-radius: 20px;

}

.logo{
  width: 150px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

header span{
    color: white;
}

.nav-item{
  padding: 0px 15px 0px 15px;
}


.nav-item a{
    color: #AD88C6;
}
/* Link visitado*/
.nav-item a:visited{
    color: #D291BC;
}
.nav-item a:hover{
    color: #AD88C6;
}
nav{
    font-family: Bad script;
    font-size: 25px;
    font-weight: bold;
    background-color: #7469B6;
}
#nav-button{
    background-color: #AD88C6;
}



*, ::after, ::before {
  box-sizing: border-box;
}

.mb-2 {
  margin-bottom: .5rem !important;
}
.me-auto {
  margin-right: auto !important;
}




button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

dl, ol, ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
ol, ul {
  padding-left: 2rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}



body{
    background-image: url(Imagenes/pexels-codioful-7130555.jpg);
    background-position: center top;
    background-color: white;
   background: rgb(255,205,227);
   background: rgb(190,173,242);
   background: linear-gradient(185deg, rgba(190,173,242,0.98) 5%, rgba(215,202,231,0.98) 22%, rgba(241,221,241,0.98) 49%, rgba(179,203,242,0.98) 87%, rgba(175,191,243,0.98) 95%, rgba(188,183,245,0.98) 100%);    background-position: center;
   height: 310vh;
   color: #6c4272;
   text-shadow: -0.1px 0 #7469B6, 0 0.1px #7469B6, 0.1px 0 #7469B6, 0 -.01px #7469B6;
   justify-content: center;
   text-align: center;
   scroll-behavior: smooth;

}

.icon-square .bi{
    height: 60px;
    width: auto;
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 8px;
}
.bi{
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 8px;

}

.nav-link .bi {
  color:#AD88C6;
  text-shadow: 0px 0px 5px #7469B6;
  text-shadow: -1px 0 #7469B6, 0 1px #7469B6, 1px 0 #7469B6, 0 -1px #7469B6;
  
}

/*Solo margen superior, reemplaza el py-5>*/
.smgsp{
  margin-top: 1rem;
}
.smgsp2{
  margin-top: 1rem;
}

h2 {
    font-family: delius;
    color: black;
    text-shadow: 1px 1px #AD88C6;

}
h3{
    font-family: delius;
}

h1{
    font-family: delius ;
}

p{
    font-family: unna;
    font-size: larger;
}


#yo {
    border-radius: 10%;
    box-shadow: var(--bs-box-shadow-lg);
    max-width: 400px;
    height: auto;
    min-width: none;
}

.container{
    padding: 30px 50px 30px 50px;
    box-shadow: var(--bs-box-shadow-lg);
    border-radius: 20px;
}
#container2{
  padding: 30px 50px 30px 50px;
  box-shadow: none;
  border-radius: 20px;
}
.container2{
  padding: 30px 50px 30px 50px;
  box-shadow: none;
  border-radius: 20px;
}
  
  
  :root {
    --safe-top: env(safe-area-inset-top,0);
    --safe-right: env(safe-area-inset-right,0);
    --safe-bottom: env(safe-area-inset-bottom,0);
    --safe-left: env(safe-area-inset-left,0);
  }

 
.proyectos-texto{
  color: white;
}

.img-p1{
  background-image: url('/Imagenes/pinterest.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-p2{
  background-image: url('/Imagenes/Lista.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.img-p3{
  background-image: url('/Imagenes/entomologos.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.img-p .d-flex.flex-column {
  position: relative;
  z-index: 2; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}
.img-p {
  cursor: zoom-in;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  
}
.img-p a{
  text-decoration: none;
}

.img-p h2 {
  text-shadow: -1px 0 #7469B6, 0 1px #7469B6, 1px 0 #7469B6, 0 -1px #7469B6;
}

.img-p:hover {
  transform: scale(1.02);
}


.row1 {
  display: flex;
  flex-wrap: wrap;
  grid-gap: px;
}


.boton1 {
  display: flex;
  margin: 0px auto 0px 0px;
}

.boton1:hover {
  color: #7469B6!Important;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.caja-boton {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #7469B6;
  cursor: pointer;
  position: relative;
  -moz-box-align: center;
  align-items: center;
  padding: 11px 24px;
  color: rgb(255, 255, 255);
  background: #7469B6;}

  .boton-comportamiento {
      display: inline-flex;
      -moz-box-align: center;
      align-items: center;
      opacity: 1;
      transition: opacity 120ms linear;}

      .boton-posicion:last-child {
          margin-bottom: 0px;
        }
        .boton-posicion:first-child {
          margin-top: 0px;
        }
        .boton-posicion {
          margin: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
          font-stretch: normal;
          color: inherit;
          display: block;
          transition: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }

        .boton-tamaño {
          transform: translateY(-1px);
          display: inline-block;
        }
        
        button, input, input[type="search"], select, textarea {
          font-feature-settings: "tnum";
          font-family: soehne,sans-serif;
          font-variant-numeric: tabular-nums;
        }
        button, select {
          text-transform: none;
        }
        button, input, optgroup, select, textarea {
          font-family: inherit;
          font-size: 100%;
          line-height: 1.15;
        }

        .boton-texto {
          font-weight: 500;
          line-height: 24px;
          font-size: 18px;
        }
